@import "compass";
@import url(https://fonts.googleapis.com/css?family=Merriweather);

@import "partials/_variables.scss";
@import "partials/_normalize.scss";
@import "partials/_base.scss";
@import "partials/_layout.scss";
@import "partials/_components.scss";
@import "partials/_pages.scss";
@import "partials/_vendors.scss";




.half {
	width: 50%;
	float: left;
	height: 700px;
	background: $black;
	display: block;
}








.evaluation-form {
	width: 65%;
	float: right;
	

}



























