/*================================
INDEX.html
==================================*/

/*BORDER STYLE (non button) */

.services {
	border-bottom: 1px solid $grey;
}

.services aside {
	border-left: 1px solid $grey;
}

.services aside:last-child {
	border-right: 1px solid $grey;
}

section.about {
	background: url(../images/male-lawyer.jpg) no-repeat 15% 15px;
	background-size: 13%;
}

/***** Service Section ****/

.services aside {
	padding-top: 80px;
	padding-bottom: 80px;
}
 .content {
	padding: 0 6%;
	text-align: center;

	p {position: relative;
		margin-bottom: 50px;
		
	}

	p:after{
		content: " ";
    border-bottom: 1px double #ccc;
    border-width: 5px;
    width: 50px;
    position: absolute;
    left: 40%;
    top: 100px;
	}
}

.QA {
	width: 30%;
	float: right;
	
}


/*================================
banking.html
==================================*/

.quote-container {
	padding: 35px;
	text-align: center;


	q {
		color: $white;
		font-size: 1.5em;
	}

	p{color: $grey;}
}


article .dropDown-Panel {
	width: 45%;
	padding-right: 5%;
}

article .lawyers {
	clear: left;
	overflow: hidden;
	padding-top: 70px;
}
